<a href="https://colab.research.google.com/github/AprendaPracticando/AnaliticaPythonR1/blob/main/LAB_06_01_Filtrado_columnas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 06.01: Ver datos del DataFrame**

En este Lab se revisan estrategias para visualizar datos de un DataFrame.
Las tareas por realizar son:
1.	Ver todos los datos de un DataFrame.
    1. Ver las filas en los extremos de un DataFrame.
    1. Ver las primeras filas de un DataFrame.
2.	Ver las últimas 13 filas de un DataFrame.
3.	Ver el contenido de una columna.
    1. Ver el contenido de una columna, usando notación estándar.
    1. Ver el contenido de una columna, usando dot notation.
4.	Ver el contenido de solo algunas columnas.

## **Ver todos los datos de un DataFrame**

In [ ]:
# Datos base
import pandas as pd
pasajeros_titanic_csv='https://raw.githubusercontent.com/AprendaPracticando/AnaliticaPythonR1/main/data/pasajeros_titanic.csv'
titanic = pd.read_csv(pasajeros_titanic_csv)

# Ver todos los campos del DataFrame titanic
titanic

# **Ver las filas en los extremos de un DataFrame**

In [ ]:
# Ver las primeras 5 filas del DataFrame titanic.
titanic.head()

In [ ]:
# Ver las últimas 13 filas del DataFrame titanic.
titanic.tail(13)

## **Ver el contenido de una columna**

In [ ]:
# Ver el contenido de la columna nombre
# usando notación estándar (entre square brackets)
titanic['nombre']

In [ ]:
# Ver el contenido de la columna nombre, 
# usando dot notation.
titanic.nombre

## **Ver el contenido de solo algunas columnas**

In [ ]:
# Ver el contenido de las columnas clase_viaje, nombre, 
# y tarifa, solamente.
lista_columnas=['clase_viaje', 'nombre', 'tarifa']
titanic[lista_columnas]

In [ ]:
# Ver el contenido de las columnas clase_viaje, nombre, 
# y tarifa, solamente.
titanic[['clase_viaje', 'nombre', 'tarifa']]