<a href="https://colab.research.google.com/github/AprendaPracticando/AnaliticaPythonR1/blob/main/LABS/LAB_13_02_Ausentes_Atipicos_TITANIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 13.02: Tratamiento de datos atípicos y ausentes para el Titanic**

En este Lab se desea eliminar las filas con atípicos respecto a la edad de las personas que viajaban en el Titanic.
Las tareas por realizar son:
1.	Determinar el mínimo no atípico y máximo no atípico de la colum-na edad.
2.	Tratar los datos ausentes por eliminación.
3.	Tratar los datos atípicos por eliminación.
4.	Eliminar los campos no requeridos.
5.	Guardado de archivo final en formato Excel y CSV.

In [ ]:
# Datos base
import pandas as pd

tipos_correctos={
    'id_persona':object,
    'clave_sobrevivencia':object,
    'clase_viaje':object
}

personas_titanic_csv='https://raw.githubusercontent.com/AprendaPracticando/AnaliticaPythonR1/main/data/personas_titanic_v5.csv'

titanic = pd.read_csv(personas_titanic_csv, dtype=tipos_correctos)

titanic['id_persona']=titanic['id_persona'].str.split('.').str.get(0)
titanic['clave_sobrevivencia']=titanic['clave_sobrevivencia'].str.split('.').str.get(0)
titanic['clase_viaje']=titanic['clase_viaje'].str.split('.').str.get(0)

print('Número de filas del conjunto de datos: ', len(titanic))

## **Tratar los datos ausentes por eliminación**

In [ ]:
# Por comodidad, se enumeran en una lista los campos 
# requeridos, que son a fin de cuentas los que pueden 
# considerarse con datos ausentes.
requeridos=['sobrevivencia','clase_viaje','sexo','rango_edad','acompañada']

# Se eliminan aqullas filas donde alguno de los campos 
# requeridos tenga datos ausentes.
print('Filas antes de eliminación de ausentes:',len(titanic))

titanic.dropna(subset=requeridos, inplace=True)

print('Filas después de eliminación de ausentes:',len(titanic))

In [ ]:
# Se verifica que se tienen 1040 filas con todos los datos
# requeridos disponibles.
titanic.info()

## **Tratar los datos atípicos por eliminación**

In [ ]:
# Se calcula el mínimo no atípico (Li) y máximo no atípico (Ls)
# del campo edad.
Q1_edad=titanic['edad'].quantile(0.25)
Q3_edad=titanic['edad'].quantile(0.75)
RIC_edad=(Q3_edad-Q1_edad)
Li_edad=Q1_edad-(1.5*RIC_edad)
Ls_edad=Q3_edad+(1.5*RIC_edad)

print('El mínimo no atípico de la edad es: ', Li_edad)
print('El máximo no atípico de la edad es: ', Ls_edad)

In [ ]:
# Eliminación de filas con atípicos.
print('Filas antes de quitar atípicos:', len(titanic))

titanic=titanic[(titanic['edad']>=Li_edad) & 
      (titanic['edad']<=Ls_edad)]

print('Filas antes de quitar atípicos:', len(titanic))

## **Eliminar campos no requeridos**

In [ ]:
# Se actualiza titanic, dejándolo solo con los campos
# requeridos.
titanic=titanic[requeridos]

# Se verifica el resultado, mostrando los campos que
# permanecen.
titanic.info()

In [ ]:
# Se muestran los datos que nos permiten hacer trabajos
# de analítica, de acuerdo con el objetivo de análisis 
# establecido.
titanic

## **Guardado de archivo final, en formato CSV y Excel**

In [ ]:
# Se guarda el DataFrame en un archivo CSV, sin incluir índice.
titanic.to_csv('titanic_final.csv', index=False)

# Se guarda el DataFrame en un archivo XLSX, sin incluir 
# índice, en una hoja llamada datos.
titanic.to_excel('titanic_final.xlsx', index=False, sheet_name='datos')