<a href="https://colab.research.google.com/github/AprendaPracticando/AnaliticaPythonR1/blob/main/LAB_06_02_Filtrado_filas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 06.02: Técnicas de filtrado de filas**

En este Lab se revisan estrategias para filtrar filas usando loc[] y where().
Las tareas por realizar son:

1.	Filtrado usando loc[], con una condición.
2.	Filtrado usando loc[], con varias condiciones.
3.	Filtrado usando loc[], combinado con filtrado de columnas.
4.	Filtrado usando loc[], con isin().
    1. Valores incluidos en una lista.
    1. Valores no incluidos en una lista.
5.	Filtrado usando where().

In [ ]:
# Datos base
import pandas as pd
pasajeros_titanic_csv='https://raw.githubusercontent.com/AprendaPracticando/AnaliticaPythonR1/main/data/pasajeros_titanic.csv'
titanic = pd.read_csv(pasajeros_titanic_csv)

## **Filtrado usando loc[], con una condición**

In [ ]:
# Mostrar las filas donde clase_viaje sea 1.0, usando loc[].
# Como sólo es una condición, no se requiere encerrar la 
# condición entre paréntesis.
primera_clase=titanic.loc[titanic['clase_viaje']==1.0]

primera_clase

## **Filtrado usando loc[], con varias condiciones**

In [ ]:
# Mostrar las filas donde clase_viaje sea 1.0, 
# y sexo sea 'mujer', usando loc[].
# Como se usa más de una condición, éstas se 
# encierran entre paréntesis.
mujeres_primera_clase=titanic.loc[
    (titanic['clase_viaje']==1.0) & 
    (titanic['sexo']=='mujer')
]

# Se muestran las filas seleccionadas.
mujeres_primera_clase

## **Filtrado usando loc[], combinado con filtrado de columnas**

In [ ]:
# Combinación de filtrado de columnas y filas.
# Mostrar el nombre y la edad, de las filas 
# donde sexo sea mujer.
columnas_filas=titanic[['nombre', 
               'edad']].loc[titanic['sexo']=='mujer']

columnas_filas

## **Filtrado usando loc[], con isin()**

In [ ]:
# Uso de filtro, comparando con el contenido de una lista.
# Recuperar las filas donde las cabinas sean C32, C26 y C80.
# Mostrar sólo las columnas nombre y cabina.
cabinas_especiales=['C32','C26','C80']

especiales=titanic[['nombre','cabina']].loc[titanic['cabina'].isin(cabinas_especiales)]

especiales

In [ ]:
# Uso de filtro, comparando con el contenido de una lista.
# Recuperar las filas donde las cabinas NO sean C32, C26 y C80.
# Mostrar sólo las columnas nombre y cabina.
cabinas_especiales=['C32','C26','C80']

no_especiales=titanic[['nombre','cabina']].loc[~titanic['cabina'].isin(cabinas_especiales)]

no_especiales

## **Filtrado usando where()**

In [ ]:
# Se filtra el DataFrame usando where, de tal manera que 
# se recuperan todas las filas; en aquellos casos donde 
# sexo no sea mujer o sobrevivencia no sea 0, las columnas 
# son rellenadas con NaN.
mujeres_vivas_where=titanic.where((titanic.sexo=='mujer') & 
                                  (titanic.sobrevivencia==1.0))

# Se muestra el resultado. Son 1310 filas de 1310, las 
# que se recuperan.
mujeres_vivas_where