<a href="https://colab.research.google.com/github/AprendaPracticando/AnaliticaPythonR1/blob/main/LABS/LAB_07_02__Trabajo_columnas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 07.02: Trabajo con columnas**

En este Lab se revisan estrategias para gestionar las columnas.
Las tareas por realizar son:
1.	Reordenar las columnas de un DataFrame.
2.	Cambiar el nombre de las columnas.
3.	Escribir los datos de un DataFrame en un CSV.

In [ ]:
# Datos base
import pandas as pd
pasajeros_titanic_csv='https://raw.githubusercontent.com/AprendaPracticando/AnaliticaPythonR1/main/data/pasajeros_titanic.csv'
titanic = pd.read_csv(pasajeros_titanic_csv)
titanic.drop(columns=['boleto','tarifa','cabina','embarque','residencias'],inplace=True)
titanic['identificador']=pd.Series(range(10000,len(titanic)+10000))

## **Reordenar las columnas de un DataFrame**

Se desean colocar los campos siguiendo este orden:
1.	Primero los datos de identidad (identificador)
2.	Luego los datos correspondientes a las variables dependientes (sobrevivencia).
3.	Luego los datos correspondientes a las variables independientes (todos los demás campos).
4.	El orden para las variables dependientes e independientes, dentro de su categoría, seguirá este orden.
5.	Datos descriptivos (nombre)
6.	Luego los temporales (no hay)
7.	Luego los categóricos descriptivos (sexo)
8.	Luego los categóricos numéricos (no hay)
9.	Luego los categóricos codificados (clase_viaje)
10.	Luego los de identidad no requerido (bote, cuerpo)
11.	Luego los datos de valor (edad, parientes, familiares).

In [ ]:
# Genera una lista que contenga los nombres de columnas 
# en el orden deseado.
campos_ordenados=['identificador', 'sobrevivencia', 
        'nombre', 'sexo', 'clase_viaje', 'bote', 'cuerpo',
                  'edad', 'parientes', 'familiares']

# Recupera los campos en el orden especificado en la lista, y 
# guárdalos en el mismo DataFrame origen. Dicho de otra forma, 
# el DataFrame es la representación ordenada de sí mismo.
titanic=titanic[campos_ordenados]

# Enumera los campos del DataFrame para comprobar el 
# nuevo orden, usando dtypes.
titanic.dtypes

## **Cambiar nombre de columnas en un DataFrame**

Se desean hacer los siguientes cambios de nombre de columna:
1.	Los identificadores, requeridos o no requeridos, deben iniciar con id_.
2.	Los datos de valor que indiquen cantidad deben iniciar con cantidad_.
3.	Los categóricos numéricos y codificados, deben iniciar con clave_, porque requieren interpretación.
4.	Se deben hacer precisiones de sustantivos. Por ejemplo, usar pasajeros resulta inexacto, pues la tripulación no era pasajera, entonces, lo adecuado sería hablar de personas.

In [ ]:
# Genera un diccionario que contenga la equivalencia 
# las llaves son los nombres de columna actuales, y los
# valores son los nombres que queremos asignar.
# Las columnas que no sufren cambio no se ponen.
nuevos_nombres={
    'identificador':'id_persona',
    'sobrevivencia':'clave_sobrevivencia',
    'bote':'id_bote',
    'cuerpo':'id_cuerpo',
    'parientes':'cantidad_parientes',
    'familiares':'cantidad_familiares'  
}

# Renombra las columnas, usando rename(), aplica los
# cambios sobre el mismo DataFrame, usando inplace.
titanic.rename(columns=nuevos_nombres,inplace=True)

# Enumera los campos del DataFrame para comprobar los nuevos
# nombres, usando dtypes.
titanic.dtypes

## **Escribir un CSV a partir de un DataFrame**

In [ ]:
# Guarda el contenido del DataFrame titanic en un archivo
# CSV, usando to_csv(), incluyendo el parámetro index, para 
# no incluir el índice.
titanic.to_csv('personas_titanic.csv', index=False)

# Revisa en Google Colab que el archivo se ha creado.

## **Integrar dos DataFrames en un Libro en Excel con dos hojas**

Supongamos que queremos generar dos Libros de Excel.
1.	Un Libro de Excel llamado datos_actualizados.xlsx, que contiene una hoja llamado datos, que contiene todos los datos, sin incluir el índice.

2.	Un Libro de Excel llamado vivos_muertos.xlsx, que:
a.	Contiene una hoja llamado vivos, que contiene el nombre, el sexo, clave sobrevivencia y la edad de las personas que hayan sobrevivido (clave_sobrevivencia=1).
b.	Contiene una hoja llamado muertos, que contiene el nom-bre, el sexo, clave sobrevivencia y la edad de las personas que hayan sobrevivido (clave_sobrevivencia=0).

In [ ]:
# Se genera el primer Libro de Excel, llamado 
# datos_actualizados.xlsx
# No se incluye el índice.
# El nombre de la hoja será datos.
titanic.to_excel('datos_actualizados.xlsx', index=False, sheet_name='datos' )

# Se recuperan las columnas nombre, sexo y edad, de 
# las personas que vivieron.
vivieron=titanic[['nombre','sexo','clave_sobrevivencia', 
         'edad']][(titanic['clave_sobrevivencia']==1.0)]

# Mostrar resultado
vivieron

In [ ]:
# Se recuperan las columnas nombre, sexo y edad, 
# de las personas que murieron.
murieron=titanic[['nombre','sexo','clave_sobrevivencia', 
         'edad']][(titanic['clave_sobrevivencia']==0.0)]

# Mostrar resultado
murieron

In [ ]:
# Se genera una Hoja de Excel por cada DataFrame, y se
# almacenan en un mismo libro (vivos_muertos.xlsx).
with pd.ExcelWriter('vivos_muertos.xlsx') as flujo:
    vivieron.to_excel(flujo, sheet_name='vivos', index=False)
    murieron.to_excel(flujo, sheet_name='muertos', index=False)