<a href="https://colab.research.google.com/github/AprendaPracticando/AnaliticaPythonR1/blob/main/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos del lenguaje Python
### Aprenda Practicando

---

## **DataTypes, variables y casting**

In [ ]:
# Se declaran dos variables str
sueldo='15000'
prestaciones='8000'

# Se convierten a su equivalente int
sueldo=int(sueldo)
prestaciones=int(prestaciones)

---
## **Imprimiendo resultados**

In [ ]:
# Usando print
print('La suma de sueldo más prestaciones es:', sueldo+prestaciones)

In [ ]:
# Usando print con F-String
print(f'La suma de base y altura es: {sueldo+prestaciones}')

In [ ]:
# Usando print con F-String con formato
print(f'La suma de base y altura es: ${sueldo+prestaciones:,.2f}')

---
## **Operadores**

In [ ]:
# Suma
ingresos=sueldo+prestaciones
print(f'Ingresos: {ingresos:,.2f}')

# Comparativo
print(ingresos>45000)

# Lógicos
print((ingresos>25000) and (ingresos<100000))
print((ingresos>25000) or (ingresos<100000))

---
## **Estructuras de decisión (condicionales)**

In [ ]:
# Si el ingreso es mayor a 10000 notificarlo.
if (ingresos>10000):
    print('El ingreso es mayor a 10000')

In [ ]:
# Si el ingreso es mayor a 25000 notificarlo, y si
# no, también.
if (ingresos>25000):
    print('El ingreso es mayor a 25000')
else:
    print('El ingreso no es mayor a 10000')

In [ ]:
# Si el ingreso no es mayor a 25000, evaluar si
# es mayor a 20000 o no, y mostrar mensaje.
if (ingresos>25000):
    print('El ingreso es mayor a 25000')
elif (ingresos>20000):
    print('El ingreso es mayor a 20000')
else:
    print('El ingreso no es mayor a 20000')

---
## **Entrada de datos en consola**

In [ ]:
# Se pregunta un dato por consola
numero=input('Dame un número del 1 al 10:')
print(numero)
print(type(numero))

---
## **Estructuras de control**

In [ ]:
# while mientras se cumpla una condición
n=10
while (n<20):
    n+=1
    print(n)

In [ ]:
# while infinito
n=10
while True:
    n+=1
    if (n<20):
        print(n)
        continue
    else:
        break

In [ ]:
# Uso de for con range()
for i in range(10):
    print(i)

In [ ]:
# Uso de for con range() 
# inicio a fin
for i in range(1,10):
    print(i)

In [ ]:
# Uso de for con series
palabra='APRENDA'
for letra in palabra:
    print(letra)

---
## **Slicers**

In [ ]:
#  F  O  N  Ó  G  R  A  F  O
#  0  1  2  3  4  5  6  7  8
# -9 -8 -7 -6 -5 -4 -3 -2 -1

palabra="FONÓGRAFO"
print(len(palabra))
print(palabra[0])
print(palabra[2:5])
print(palabra[:5])
print(palabra[2:])
print(palabra[-2])

--- 
## **Funciones**

In [ ]:
# Se define una función que retorna
# el cuadrado de un valor dado
def calcular_cuadrado(n):
    x=n*n
    return x

print(calcular_cuadrado(4))

---
## **Tuplas**

In [ ]:
# Definiendo una tupla.
tupla_1=(14,56,28,99,355)
tupla_2='A','B','C'

# Verificando que tupla_2
# es una tupla
print(type(tupla_2))

# Recuperando el elemento
# con índice 2, de la tupla.
print(tupla_1[2])

--- 
## **Listas**

In [ ]:
# Definiendo una lista
lista=[10,55,74,89,10]

# Verificando que es una lista
print(type(lista))

# Recuperando el número de
# elementos en la lista
print(len(lista))

# Recuperando elemento
# con el índice 2 de
# la lista
print(lista[2])

In [ ]:
# Verificando su 22 está
# en la lista
print(22 in lista)

# Contando cuántas veces
# está el 10 en la lista
print(lista.count(10))

# Verificando qué índice
# tiene el valor 74
lista.index(74)

In [ ]:
# Listas coneniendo listas
empleados=[
    [10010,'Juan','Garza','H'],
    [10012,'Diana','Almaguer','F']
]

# Extrayendo datos anidados
print(empleados[1][2])

---
## **Diccionarios**

In [ ]:
# Se declara un diccionario
diccionario={
    1:'Blanco',
    2:'Azul',
    3:'Rojo',
    4:'Verde'
}

# Recuperando un valor
# usando su llave
print(diccionario.get(2,'No se encontró'))
print(diccionario.get(8,'No se encontró'))

In [ ]:
# Validando si una llave existe
print(8 in diccionario.keys())

# Validando si un valor existe
print('Rojo' in diccionario.values())

In [ ]:
# Leyendo el diccionario
for e in diccionario:
    print(e)

# Leyendo llaves y valores
for k,v in diccionario.items():
    print(f'La llave {k} vale {v} ')

In [ ]:
# Diccionario conteniendo listas
productos={
    '00202F':['LIMPIADOR BASE','LTO',77.3,108.50],
    '03992A':['AMONIACO','GAL',55.36,85.11],
    '29928M':['DISOLVENTE R2','LTO',91.22,201.54]
}

# Imprimiendo la unidad de medida'
# del producto 03992A.
print(productos['03992A'][1])